*/dist/
*/bin/
*/lib/
*/runtime-lib/
*/test-lib/
*~
*.iml
*.class
.metadata
.project
nbbuild.xml
nbproject/
nbproject/private/
.DS_Store
/override.properties
/classes/**
/classes-test/**
*~
runtime-lib/
.project

override.properties
