.DS_Store
*.iml
target/
.metadata/
.idea/
*/.project
*/.classpath
*/.settings/

# These jquery files are added/replaced by maven on every build
/pentaho/src/main/resources/static/jquery.js
/pentaho/src/main/resources/static/jquery.ui.js
/pentaho/src/main/resources/fileEditor/ace/jquery.min.js
/pentaho/src/main/resources/previewer/dataTables/js/
/pentaho/src/main/resources/previewer/dataTables/images/
/pentaho/src/main/resources/previewer/dataTables/css/
/pentaho/src/main/resources/previewer/dataTables/license.txt