body {
    padding: 20px;
    font-family: Calibri, Helvetica, Arial;
    background-color: #c9e576
}

h1 {
    font-size:120%
}

.header {
    height:60px;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
    color: white;
    margin-bottom: 10px;
    position:relative
}

.params {
color:#222222;
font-size:115%;
font-weight:normal;
padding:10px;
}

.param {
padding-left: 5px;
}

#fileid {
background-color:#FFFFFF;
color:#222222;
font-size:14pt;
margin:20px 20px 10px;
}

#pleaseselect {
background-color:#FFFFFF;
color:#442222;
font-size:12pt;
font-style: italic;
margin:20px 20px 10px;
}

/*fg-menu stuff*/
        body { font-size:62.5%; margin:0; padding:0; }
	#flat { font-size:11px;}
	.hidden { position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }
	.fg-button-icon-left { padding-left: 2.1em; }
	.fg-button-icon-right { padding-right: 2.1em; }
	.fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
	.fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
	.fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */	
	
	.fg-button.ui-state-loading .ui-icon { background: url(fg-menu/spinner_bar.gif) no-repeat 0 0; }
