<?xml version="1.0" encoding="UTF-8"?>
<!-- needed but not used -->
<settings>
	<cde-datasources/>

	<!--
       allow-cross-domain-resources: Flag indicating cross-origin resource sharing

       accepted values are: true | false
    -->
	<allow-cross-domain-resources>false</allow-cross-domain-resources>

	<!-- A comma separated list of allowed domains for a cross-origin resource sharing-->
	<cross-domain-resources-whitelist><!--intentionally left blank --></cross-domain-resources-whitelist>
</settings>