body{
  font-size: 9pt;

}

div.tableHeader {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

div.section {
  font-family: "Times New Roman", Times, serif;
  font-size: 14pt;
  margin-bottom: 8px;
}

div.row, div.row.error {
  border-top: 1px solid silver;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
  font-size: 8pt;
}

div.error{
  border: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFC9C9;
}

div.left{
  text-align: left;
}

div.operations a{
  display: inline-block;
  padding-right: 5px;
}

img.button {
  position: relative;
  top: 2px;
  height: 16px
}


dt { float: left;
     clear: left;
     color: #888;
}

dt:after {
  content: ":";
}

dd {
  float: left;
  font-style: italic;
}

#tabButtons {
  position: relative;
  left:670px;
  top:82px;
}

#tabButtons .button {
  padding:12px;
}

#tabButtons .button.selected {
  font-size: 14px;
  background-color: #ffffff;
}

.button {
  cursor: pointer;
}

#cachedQueries div.row {
  cursor: pointer;
}

.dataTables_wrapper {
  border: 1px solid silver;
  margin-bottom: 10px;
}
