body {
    padding: 0px;
    font-family: Calibri, Helvetica, Arial;
    background-color: #fff
}

h1 {
    font-size:120%
}

.cdalogo{

    background-image: url("../static/headerbg.png");
    background-repeat: no-repeat;
    height: 112px;

  }

.header {
    background-image: url('../static/headerbg.png');
    height:112px;
    border-bottom: 1px solid #ddd;
    color: white;
    margin-bottom: 10px;
    position:relative
}

.bespin{
    margin: 0px;
    padding: 0px;
    border: 0;
    height: 380px;
}

.textinputfix {
    border: 0px;
    height: 20px;
    position: relative;
    margin: 0px;
}
.button {
    background-color: #FFF;
    color:#000 text-decoration:none;
    height: 20px;
    vertical-align: middle;
    text-align: center;
    margin-right: 10px;
    border: 0px;
}

.button-hover {
    border: 1px;
    border-style: solid;
    border-color: white;
    color: white;
    background-color: #8ed300;
}
a.button {
    font-size: 110%;
    color:#000 text-decoration:none
}

a.button:link {
    color:#000;
    text-decoration:none
}

a.button:visited {
    color:#ddd;
    text-decoration:none
}

a.button:hover {
    color: #efe;
    text-decoration:bold;
    border-color: white
}

a.input {
    color:#ddd text-decoration:none
}

a.input:link {
    color:#ddd;
    text-decoration:none
}

a.input:visited {
    color:#ddd;
    text-decoration:none
}

a.input:hover {
    color:#222;
    text-decoration:bold;
    border-color: white
}


.notification {
    height:20px;
    background-color: #28211c;
    color:#ddd;
    text-align: center;
    font-size: 110%;
     text-decoration:none
}

.fileinput {
    border:1px solid;
    font-size:12px;
    position:relative;
    top:-1px;
}

.inputlabel {
    height: 20px;
    position: relative;
    text-align: right;
    font-size: 110%;
    top: 1px;
    vertical-align: middle;

}
